# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
.env/

# OS files
.DS_Store

# Streamlit
.streamlit/

models/*
!models/dl_meta.pkl
!models/dl_model/**
!models/saved_model.pkl
!models/saved_model_hourly.pkl
